{% extends 'rango/base.html' %}
{% load staticfiles %}

	{% block title %} Detail Page {% endblock %}

	{% block body_block %}

		{% if page %}

			<h1> {{ title }} Page </h1>

			<p>

				It's into <strong> {{ category }} </strong> category <br />
				URL: <a href="{{ url }}"> {{ title }} </a>

			 </p>

			<p>
				<a href="{% url 'edit_page' category.slug page.slug %}"> Edit this page </a>
				<a href="{% url 'delete_page' category.slug page.slug %}"> Delete this page </a>
			</p>

		{% else %}
			<strong> The specified page {{ title }} does not exist! </strong>

		{% endif %}

	{% endblock %}
